.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #85bb65;
  padding: 6vh 0vh;
}

.form{
  display:flex;
  width:100%;
  align-items: center;
}

.search-bar {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
}

.title {
  display: flex;
  text-decoration: none;
  font-size: x-large;
  margin-right: 1vw;
  color: white;
}

.search-box {
  flex: 1;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px 15px;
  background-color: white;
}

.search-input {
  border: none;
  flex: 1;
}

.search-button {
  background: transparent;
  box-shadow: none;
  border: none;
  text-shadow: none;
}

a:-webkit-any-link {
  /* Removes the default colour on anchor tages*/
  text-decoration: none;
  color: inherit;
}
.userButtons{
  display: inline;
  margin-left: 20px;
  color: white;
}
#signup{
  color:white;
  font-size:20px;
}
#login{
  color:white;
  font-size:20px;
}
#userbuttonholder{
  width:20%
}

#signup:hover{
  text-decoration: underline;
  cursor: pointer;
}
#login:hover{
  text-decoration: underline;
  cursor: pointer;
}