.chat-summary-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.chat-summary-img {
  border-radius: 50%;
  width: 20%;
}

.chat-summary-details {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.recipient-label {
  font-size: large;
  font-weight: bold;
}

.message-preview {
  color: gray;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
