.chat-messages-display {
  margin-left: 1rem;
  height: 85vh;
  display: flex;
  flex-direction: column;
}

.chat-messages-label {
  height: 10vh;
  padding: 1rem 0px;
}

.chat-messages-log {
  display: flex;
  flex-direction: column;
  height: 65vh;
  overflow-y: auto;
}

.chat-message-input {
  height: 10vh;
}

.message-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0px;
}

.message-by-you {
  align-self: flex-end;
}

.message-by-rec {
  align-self: flex-start;
}

.chat-message-img {
  border-radius: 50%;
  width: 2rem;
  height: auto;
  margin: 0px 1rem;
}
