.chat-messages-display {
  margin-left: 1rem;
  height: 85vh;
  display: flex;
  flex-direction: column;
}

.chat-message-centered {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.chat-messages-label {
  height: 10vh;
  border: 1px solid #f7f7f7;
  border-bottom: 1px solid gainsboro;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border-radius: 10px 10px 0px 0px;
}

.chat-messages-log {
  height: 65vh;
  overflow-y: auto;
}

.chat-message-log-flexbox {
  display: flex;
  flex-direction: column-reverse;
}

.chat-message-input {
  height: 10vh;
}

.message-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0px;
}

.message-by-you {
  align-self: flex-end;
}

.message-by-rec {
  align-self: flex-start;
}

.chat-message-img {
  border-radius: 50%;
  width: 2rem;
  height: auto;
  margin: 0px 1rem;
}
