.listing {
  width: 100%;
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
}

.title {
  cursor: pointer;
  color: black;
}

.contents {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.details {
  display: flex;
  flex-direction: row;
}

.game-img {
  object-fit: cover;
  width: 10rem;
  cursor: pointer;
}

.badges {
  display: flex;
  flex-direction: row;
}

.type-indicator {
  margin: 0rem 0rem;
}
