#listingimage{
    height: 500px;
    width: 350px;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 30px;
    border: 1px black solid;
}

.btn-like{
    color: red;
    background-color: white;
    border: 2px solid red;
    font-weight: bold;
    margin-left: 100px;
    padding: 5px 20px;
    font-size: 30px;
    border-radius:10px;
    outline:none;
}
.btn-like:hover{
background-color: #F5F5F5;
}
.btn-cop{
    color: green;
    background-color: white;
    border: 2px solid green;
    font-weight: bold;
    margin-left: 20px;
    padding: 5px 20px;
    font-size: 30px;
    border-radius:10px;
}

.btn-cop:hover {
    color:white;
    background-color: green;
    border-radius:10px;
}

.btn-cop:focus{
    color:white;
    background-color: green;
    border-radius:10px;
}

.owner{
    font-size: 30px
}
#listingtitle{
    margin-left:50px;
    margin-bottom:5px;
    width:70%;
    margin-right:0;
}
#platform{
    margin-left: 50px;
    margin-top: 10px;
}
.details{
    margin:auto;
    float:left;
}

.btn-liked{
    color: white;
    background-color: red;
    border: 2px solid black;
    font-weight: bold;
    margin-left: 100px;
    padding: 5px 20px;
    font-size: 30px;
    border-radius:10px;
    outline:none;
}
.recommendationimgextend{
    width:130px;
    height:160px;
}
#img1{
    width:100%;
    height:100%;
}
.recommendationtitle{
    padding-top:110px;
}