.listingTile{
    display:inline-block;
    border: 2px solid #85bb65;
    margin: 20px;
    padding: 10px;
    text-align:center;
}

.listingImage{
    width:100px;
    height:120px;
    box-sizing: border-box;
}