.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh;
}

.header {
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
}

.title {
  font-size: x-large;
  margin-right: 1vw;
}

.search-bar {
  flex: 1;
  display: flex;
  border: 1px solid gray;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;
}

.search-input {
  border: none;
  flex: 1;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
