.chat-screen {
  display: flex;
  flex-direction: column;
  height: 85vh;
}

.chat-interface {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.messages {
  flex: 1;
  height: 100%;
}
