.listingimage {
  height: 80%;
  width: 80%;
  border: 1px black solid;
}
.TitlePlatformImage {
  width: 25%;
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 0.5%;
  display: inline-block;
  float: left;
}
.listingdetails {
  width: 45%;
  display: inline-block;
  float: left;
  margin-top: 5%;
}
.datelisted {
  opacity: 0.7;
}
.similarlistings {
  float: left;
  width: 22%;
  margin-left: 2%;
  margin-top: 2%;
}
.similarlistingholder {
  width: 100%;
  margin-bottom: 3%;
}

.btn-cop {
  color: green;
  background-color: white;
  border: 2px solid black;
  font-weight: bold;
  margin-left: 20px;
  padding: 5px 20px;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  float: right;
  margin-top: 2%;
}

.btn-cop:focus {
  color: white;
  background-color: green;
  border: 2px solid black;
  font-weight: bold;
  margin-left: 20px;
  padding: 5px 20px;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  float: right;
  margin-top: 2%;
}
.btn-cop:hover {
  background-color: #f5f5f5;
  border-radius: 10px;
  color: green;
}
.imgsuggested {
  height: 100%;
  width: 100%;
}
.userpicture {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border: 1px solid black;
  margin-right: 2%;
}
