.home-listings-label {
  width: 100%;
  margin-top: 1rem;
}

.main-page-listings {
  width: 100%;
  padding: 1rem;
}

.main-page-listings-label {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
