.search-results-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-results-display {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.red {
  background-color: red;
}
