.infoupdater {
  margin-left: 5px;
  width: 50%;
  padding: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  text-align: left;
  background-color: white;
  color: black;
  border: 1px solid lightgray;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.infoupdater:hover {
  background-color: lightgray;
}
.saveButton {
  font-size: 1.2rem;
  color: white;
  background-color: green;
}
.currentinfo {
  border: 1px solid gray;
  font-size: 1.2rem;
  width: 50%;
  display: inline-block;
  padding: 3px;
}
.editIcon {
  float: right;
  margin-right: 20px;
}

.userInformation {
  width: 70%;
  display: inline-block;
}

.update-user-game-images-div {
  height: 700px;
}

.selected-inventory-games {
  display: inline-block;
}

.selected-inventory-games img {
  width: 150px;
  height: 180px;
  margin: 10px;
}

.update-profile-screen {
  display: flex;
  flex-direction: column;
}

.update-profile-general-details {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
}

.update-profile-img {
  display: flex;
  flex-direction: column;
}

.update-profile-details {
  display: flex;
  flex-direction: column;
}

.update-profile-games-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.update-profile-games-display {
  display: flex;
  overflow-y: auto;
}

.update-profile-games-display img {
  width: 150px;
  height: 180px;
  margin: 10px;
}
