.infoupdater {
  margin-left: 5px;
  width: 50%;
  padding: 1%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  text-align: left;
  background-color: white;
  color: black;
  border: 1px solid lightgray;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.infoupdater:hover {
  background-color: lightgray;
}
.saveButton {
  font-size: 1.2rem;
  color: white;
  background-color: green;
}
.currentinfo {
  border: 1px solid gray;
  font-size: 1.2rem;
  width: 50%;
  display: inline-block;
  padding: 3px;
}
.editIcon {
  float: right;
  margin-right: 20px;
}

.userInformation {
  width: 70%;
  display: inline-block;
}

.update-user-game-images-div {
  height: 700px;
}

.selected-inventory-games {
  display: inline-block;
}

.selected-inventory-games img {
  width: 150px;
  height: 180px;
  margin: 10px;
}
#error-overlay{
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  text-align: center;
}
.error-message{
  background-color: white;
  height:35%;
  width:30%;
  margin-left:35%;
  margin-top: 5%
}

.id-forms{
  font-weight: bold;
  color:blue;
}